/* Styles go here */

.veh{
  width: 300px;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 4px 4px 4px gray;
  margin: 20px;
  padding: 10px;
  text-align: center;
  
}

#image{
    
   width: 220px;
    height:150px;
    
}
.b{
    color:steelblue;
}